@extends('base.html')

@section('container')
<h2 class="text-center">
    Login
</h2> <a href="/register" class="text-center">or create an account</a>

@if(session()->has('errors'))
    @foreach(session()->flash('errors') as $error)
        <div class="alert alert-danger">{{$error}}</div>
    @endforeach
@endif

@if(session()->has('username'))
<div class="alert alert-success">You logged in as {{session()->get('username')}}</div>
<a href="/logout" class="btn btn-danger">Logout</a>
@else

<form role="form" method="POST">
    {{csrf_field()}}
    <div class="form-group">
         <label for="username">Username</label>
         <input name="username" type="text" class="form-control" id="username" placeholder="Enter username" />
    </div>
    <div class="form-group">
         <label for="password">Password</label>
         <input name="password" type="password" class="form-control" placeholder="Password" />
    </div> <button type="submit" class="btn btn-default">Submit</button>
</form>
@endif
@endsection